*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    background: #caebf5; 
  }
  body, input,textarea, a{
    font-family: 'Roboto', sans-serif;
  }
  .logo{
    width: 200px;
    height: 30px;
    margin-top: 20px;
  }
  .navbar2{
      height: 50px;
      width: 1500px;
      background-color: rgb(205, 233, 233);
  }
  .main2{
    background-color:rgb(rgba(96, 158, 176, 0.979))
  }
  
  ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul li{
    list-style: none;
    margin-left: 5px;
    margin-top: 15px;
    font-size: 14px;
  }
  ul li a{
    text-decoration: none;
    color: rgb(19, 117, 237);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  ul li a:hover{
    color: #ff7200;
  }
  .heading{
   margin-top: 50px;
   margin-left: 600px;
   color: red;
  }
  .form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
  }
  .form-title{
    margin-top: 50px;
    text-align: center;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
    color: #F44770;
  }
  .form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
  }
  .form-fields input,
  .form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
  }

  .form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  }
  
  .submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #F44770;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
  }
  .submit-button:hover{
    background: #ff7200;
  }